<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDeVhyOJqU064j0MTCRyOimBcCthGdFnA</string>
	<key>GCM_SENDER_ID</key>
	<string>195319527779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sajid.branx</string>
	<key>PROJECT_ID</key>
	<string>branx-6ee8d</string>
	<key>STORAGE_BUCKET</key>
	<string>branx-6ee8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195319527779:ios:c29fd7d3800b547e94bb56</string>
</dict>
</plist>